@import '../vars.scss';
header {
  .header__logo{
    img {
      margin-left: 1rem;
      width: 100px;
      height: 100px;
    }
  }
  .header__nav {
    display: flex;
    justify-content: center;
    gap: 3rem;
  }
  h2{
    text-align: center;
  }
  .header__button {
    margin-right: 2rem;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1rem;
    font-weight: 500;
    font-family: inherit;
    background-color: $main-color1;
    color: $main-color3;
    cursor: pointer;
    transition: border-color 0.25s;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  }
  .header__button:hover {
    border-color: $main-color2;
  }
  .header__button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  .account {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 2rem;
    a {
      color: #ebe6d6;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    .account__name {
      display: flex;
      flex-direction: column;
      align-items: end;
      opacity: 0.7;
      font-size: 0.875rem;
    }
    .account__name_button {
      margin: 0;
      padding: 0;
      border: none;
      font-size: 0.625rem;
      opacity: 0.4;
      cursor: pointer;
      color: $main-color1;

      &:hover {
        color: $main-color2;
        opacity: 1;
      }
    }
  }
}



