@import '../../../vars.scss';

.search_result__container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.result_table{
    width: 100%;
    thead{
        font-weight: bold;
        tr{
            border: 2px inset #163E6C;
            td{
                border: 2px inset #163E6C;
                &:hover{

                }
            }
        }
    }
    tbody{

    }
}
.table_string{
    td {
        border: 1px inset #163E6C;
    }

    &:hover{
        background-color: $main-color3;
        color: $main-color2;
        cursor: pointer;
    }
}
.search_result__buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    a {
        min-width: 140px;
        margin: 1rem 0;
        border-radius: 0.4rem;
        border: 1px solid $main-color1;
        padding: 0.6em 1.2em;
        font-size: 1rem;
        font-weight: 500;
        font-family: inherit;
        background-color: $main-color3;
        color: $main-color1;
        cursor: pointer;
        transition: border-color 0.25s;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);

        &:hover {
            color: $main-color2;
            border: 1px solid $main-color2;
        }
    }
}
