@import '../vars.scss';

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $main-color3;
  margin: 0 2rem;
  border-radius: 0.5rem;
  flex-grow: 1;
  hr {
    opacity: 0.3;
    width: 80%;
    color: $main-color1;
  }
  .main__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    h2 {
      width: 70%;
      text-align: center;
    }
    .search_form{
      max-width: 60%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      .form__input, .form__button{
        min-width: 300px;
        max-width: 40%;
        margin: 1rem;
        height: 2rem;
        border-radius: 0.5rem;
        text-align: center;
        box-shadow: 0 0 20px 0 rgba(22, 62, 108, 0.3);
      }
      .form__button{
        min-width: 100px;
        max-width: 15%;
      }
    }
  }
  .main__article, .result_container, .main__user_info{
    margin: 1rem 0;
    width: 90%;
    min-height: 3rem;
    background-color: white;
    border-radius: 0.5rem;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(22, 62, 108, 0.3);
  }
  .main__user_info {
    display: flex;
    justify-content: center;
    align-items: center;
    h3 {
      margin: 0 1rem;
    }
  }

  .main__article{
    margin: 0;
  }

  .result_container{
    flex-grow: 1;
    .search__buttons{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
      a{
        min-width: 140px;
        margin: 1rem 0;
        border-radius: 0.4rem;
        border: 1px solid $main-color1;
        padding: 0.6em 1.2em;
        font-size: 1rem;
        font-weight: 500;
        font-family: inherit;
        background-color: $main-color3;
        color: $main-color1;
        cursor: pointer;
        transition: border-color 0.25s;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
        &:hover{
          color: $main-color2;
          border: 1px solid $main-color2;
        }
      }
    }
  }
  .main__search_result{
    //height: 100%;
    overflow: overlay;
  }
  .error_page{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
