@import "./vars.scss";

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: PT-Astra-Sans_Regular, sans-serif;
  #root {
    height: 100%;
    display: flex;
    flex-direction: column;
    hr {
      color: $main-color1;
    }
    header,
    footer {
      display: flex;
      max-height: 100px;
      justify-content: space-between;
      align-items: center;
      margin: 1rem;
      background-color: $main-color3;
      border-radius: 0.5rem;
    }
    main {
      .active {
        color: $main-color2;
        border: 1px solid $main-color2;
      }
    }
  }
}

@font-face {
  src: url(./assets/PTAstraSans/PT-Astra-Sans_Regular.ttf);
  src: url(./assets/PTAstraSans/PT-Astra-Sans_Bold.ttf);
  src: url(./assets/PTAstraSans/PT-Astra-Sans_Bold-Italic.ttf);
  src: url(./assets/PTAstraSans/PT-Astra-Sans_Italic.ttf);
}

a {
  color: $main-color1;
  text-decoration: none;
}
a:hover {
  color: $main-color2;
  text-decoration: none;
}

@media (max-width: 840px) {
  h2 {
    margin: 0.3px 0;
    font-size: 1.3rem;
  }
}
@media (max-width: 530px) {
  h2 {
    margin: 3px 0;
    font-size: 1rem;
  }
@media (max-width: 400px){
  hr {
    display: none
  }
}
}
