@import "../../vars.scss";
.container {
  width: 80%;
  height: 50%;
  top: 50%; // half of width
  left: calc(50% - 40%); // half of height
  position: absolute;
  visibility: visible;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-radius: 0.5rem;
  background-color: rgba(235, 230, 214, 0.8); /* complimenting your modal colors */
}
.reveal_modal {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.loading {
  box-shadow: inset 0 0 40px 0 $main-color1;
}
.error {
  box-shadow: inset 0 0 40px 0 $main-color2;
}