@import '../../vars.scss';
.result_table{
  width: 100%;
  thead {
    font-weight: bold;
    tr{
      border: 2px solid #163E6C;
      td{
        border: 2px inset #163E6C;
        .table_header{
          display: flex;
          align-items: center;
          justify-content: space-between;
          cursor: pointer;
        }
        &:hover{
          background-color: $button-background;
        }
      }

    }
  }
  tbody{
    .table_string{
      td {
        border: 1px inset #163E6C;
      }

      &:hover{
        background-color: $main-color3;
        color: $main-color2;
        cursor: pointer;
      }
    }
  }
}
